html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #0000001a;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
}

header > .container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container > div .shutdown {
  cursor: pointer;
  margin-left: 15px;
}

.container {
  width: 90%;
  margin: auto;
}

.sidenav {
  height: calc(100% - 64px);
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  padding: 60px 10px;
  width: 20%;
  background: #ffffff;
}

.main-sun-config {
  height: 100%;
  margin-left: 20%;
  padding-top: 8%;
  padding-bottom: 30px;
  background-color: #f5f5f5;
  height: 100vh;
}

.main-sun-config .container {
  height: 100%;
}

.main-sun-config .main_sun_head h5 {
  color: #0f0f0f;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.main-sun-config .main_sun_head .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-sun-config .main_sun_head .head span {
  display: inline-block;
  background-color: #fc6a28;
  border: 1px solid navajowhite;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;

  cursor: pointer;
}

.main-sun-config .main_sun_body {
  background: #ffffff;
  box-shadow: 0px 2px 10px #0000000d;
  border-radius: 4px;
  margin-top: 24px;
  padding-top: 5px;
  height: 85%;
}

.main-sun-config .main_sun_body .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.manual-details {
  display: flex;
  padding-top: 50px;
}

.manual-details > div {
  width: 50%;
  border: 1px solid #e4e4e4;
  padding: 24px;
}

.manual-details > div h5 {
  font-size: 24px;
  color: #0f0f0f;
  margin: 0;
}

.manual-details > div p {
  font-size: 14px;
  color: #949494;
}

.manual-details > div button {
  padding: 10px 15px;
  border: none;
  border: 1px solid #fc6a28;
  background: #fc6a28;
  color: #fff;
  font-size: 16px;
}

.main-sun-config .main_sun_body .details h5 {
  color: #0ba248;
  font-size: 18px;
}

.main-sun-config .main_sun_body .details a {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.main-sun-config .main_sun_body .details a.second {
  border: 1px solid #fc6a28;
  background-color: #fff;
  color: #fc6a28;
}

.main-sun-config .main_sun_body .details a.first {
  border: 1px solid #fc6a28;
  background-color: #fc6a28;
  color: #fff;
}

.main-sun-config .main_sun_body.scrollable {
  overflow-y: auto;
}

.main-sun-config .main_sun_body .links {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #0000000d;
  margin-bottom: 40px;
}

.main-sun-config .main_sun_body .links > div {
  width: 25%;

  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
}

.main-sun-config .main_sun_body .links > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sun-config .main_sun_body .links > div img {
  margin-right: 12px;
}

.main-sun-config .main_sun_body .links > div.active {
  border-bottom: 3px solid #fc6a29;
  margin-bottom: -3px;
  color: #fc6a28;
}

.main-sun-config .main_sun_body .links > div.active-green {
  border-bottom: 3px solid #0ba248;
  margin-bottom: -3px;
  color: #0ba248;
}

.main-sun-config .main_sun_body form.multi-inputs > div {
  display: flex;
  align-items: flex-end;
}

.main-sun-config .main_sun_body form.multi-inputs > div > div {
  margin-right: 15px;
}

.main-sun-config
  .main_sun_body
  form.multi-inputs
  > div
  > .select-with-label
  label {
  margin-left: 8px;
}

.main-sun-config .main_sun_body form h5 {
  font-size: 18px;
  color: #111111;
  margin: 0;
  margin-bottom: 25px;
}

.main-sun-config .main_sun_body form label {
  font-size: 16px;
  color: #173a49;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.main-sun-config .main_sun_body form input {
  padding: 15px;
  border: 1px solid #bdc7cb;
  font-size: 14px;
  color: #173a49;
  border-radius: 2px;
}

.main-sun-config .main_sun_body form.more input {
  padding: 5px;
}

.main-sun-config .main_sun_body form select {
  padding: 15px;
  border: 1px solid #bdc7cb;
  font-size: 14px;
  color: #173a49;
  border-radius: 2px;
  margin-left: 8px;
}

.main-sun-config .main_sun_body form.more select {
  padding: 5px;
}

.main-sun-config .main_sun_body form button {
  background-color: #fc6a28;
  border: navajowhite;
  padding: 15px 32px;
  font-size: 16px;
  color: #fff;
  margin-left: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.main-sun-config .main_sun_body form.more button {
  padding: 5px 15px;
}

.main-sun-config .main_sun_body form .radio-buttons {
  display: flex;
}

.main-sun-config .main_sun_body form .radio-buttons label {
  display: inline-block;
  margin-right: 7px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 25px;
}

td,
th {
  border: 1px solid #bdc7cb;
  text-align: left;
}

th {
  font-size: 16px;
  color: #0f0f0f;
  background-color: #eaeaea;
  padding: 15px 24px;
}

td {
  padding: 25px 24px;
  color: #173a49;
  font-size: 14px;
  font-weight: bold;
}

td img {
  margin-right: 10px;
  cursor: pointer;
}

.sidenav > div {
  display: flex;
  flex-direction: column;
}

.sidenav > div > a {
  color: #a1a1a1;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: bold;
}

.sidenav > div > a.active {
  background-color: #0f0f0f;
  padding: 10px 22px;
  color: #fff;
}

.breadcrumb {
  font-size: 14px;
  font-weight: bold;
  color: #a1a1a1;
  text-transform: capitalize;
}

.breadcrumb > .first {
  margin-right: 8px;
}

.breadcrumb > .second {
  margin-left: 8px;
  color: #0f0f0f;
}

/* Home Screen */

body,
html,
main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffeee6;
  text-transform: capitalize;
  height: 100%;
  font-family: "Mulish", sans-serif;
  overflow-y: hidden;
}

#black-corner {
  position: absolute;
  left: -15vw;
  top: -35vh;
  width: 500px;
  height: 500px;
  background-color: #0f0f0f;
  border-radius: 50%;
}

#black-corner img {
  position: relative;
  top: 15vh;
  left: 7vw;
}

#orange-corner {
  position: absolute;
  right: -30vw;
  top: -15vh;
  width: 1000px;
  height: 1000px;
  background-color: #fc6a28;
  border-radius: 50%;
}

#white-circle {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 5vw;
  top: 5vh;
}

#FC2839-largeCircle {
  width: 40px;
  height: 40px;
  background-color: #fc2839;
  border-radius: 50%;
  position: absolute;
  right: 50vw;
  top: 10vh;
}

#FC2839-smallCircle {
  width: 20px;
  height: 20px;
  background-color: #fc2839;
  border-radius: 50%;
  position: absolute;
  right: 53vw;
  top: 15vh;
}

#all-content {
  height: 100%;
}

#all-content h1 {
  font-weight: 900;
  font-size: 70px;
  color: #0f0f0f;
  width: 458px;
}

#all-content p {
  color: #5f5f5f;
  font-size: 22px;
  width: 445px;
}

#all-content > div > div {
  width: 445px;
}

#all-content #button {
  background-color: #fc6a28;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 2% 5%;
  margin-right: 5%;
  font-family: "Roboto", sans-serif;
}

#all-content #link {
  font-weight: 600;
  font-size: 16px;
  color: #0f0f0f;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  #all-content h1 {
    font-size: 30px;
    width: 300px;
    text-align: center;
  }
  #all-content p {
    font-size: 20px;
    width: 300px;
    text-align: center;
  }
  #all-content > div > div {
    width: 300px;
    text-align: center;
  }
  #all-content > div#img-div {
    margin-bottom: 0 !important;
  }
  #all-content > div#img-div > img {
    width: 300px;
    height: 300px;
  }
  #orange-corner {
    width: 900px;
    height: 900px;
    right: -180vw;
  }
  #black-corner {
    position: absolute;
    left: -55vw;
    top: -25vh;
    width: 400px;
    height: 400px;
  }
  #black-corner img {
    width: 100px;
    height: 50px;
    top: 10vh;
    left: 25vw;
  }
}

@media (min-width: 575.98px) and (max-width: 1199.98px) {
  #all-content h1 {
    font-size: 30px;
    width: 300px;
    text-align: center;
  }
  #all-content p {
    font-size: 20px;
    width: 300px;
    text-align: center;
  }
  #all-content > div > div {
    width: 300px;
    text-align: center;
  }
  #all-content > div#img-div {
    margin-bottom: 0 !important;
  }
  #all-content > div#img-div > img {
    width: 300px;
    height: 300px;
  }
  #orange-corner {
    width: 900px;
    height: 900px;
    right: -80vw;
  }
  #black-corner {
    position: absolute;
    left: -25vw;
    top: -15vh;
    width: 400px;
    height: 400px;
  }
  #black-corner img {
    width: 100px;
    height: 50px;
    top: 5vh;
    left: 13vw;
  }
}
